.clients {
    @extend %section;

    @media screen and (min-width: $desktop) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.clients__container {
    @extend %container;

    @media screen and (min-width: $tablet) and (max-width: 1199px) {
        max-width: $tablet;
    }
}

.clients__title {
    @extend %title;

    @media screen and (min-width: $desktop) {
        margin-bottom: 50px;
        font-size: 36px;
    }
}

.clients__list {
    @extend %list;
    margin: 0;
    padding: 0;
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.clients__item {
    width: calc((100% - 30px) / 2);
    max-width: 210px;

    @media screen and (min-width: $tablet) {
        width: calc((100% - 60px) / 3);
    }

    @media screen and (min-width: $desktop) {
        width: calc((100% - 150px) / 6);
    }
}

.clients__link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 16px;
    padding-bottom: 16px;
    
    border: 1px solid $icon-color;
    border-radius: 4px;
    
    background-color: $main-bg-color;
    color: $icon-color;
    
    transition: color 250ms $time-function,
    border-color 250ms $time-function;

    &:hover, &:focus {
        border-color: $main-active-color;
        color: $main-active-color;
        outline: transparent;
    }
}

.clients__icon {
    fill: currentColor;
}