.body {
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;

    background-color: $main-bg-color;
    color: $main-text-color;

    font-family: $fontPrimary;
    font-style: normal;
    letter-spacing: 0.03em;
}