.policy {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 30px;
}

.policy__check {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.policy__agreement {
    position: relative;

    font-size: 14px;
    line-height: 1.71;
    color: var(--main-text-color);

    margin-left: 8px;
}

.policy__checkbox--empty {
    position: absolute;
    top: 5px;
    left: -24px;

    visibility: visible;
    opacity: 1;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.09);

    transition: fill 250ms $time-function,
        opacity 250ms $time-function,
        visibility 250ms $time-function;

    .policy__agreement:hover & {
        fill: $main-active-color;
    }

    &focus {
        fill: $main-active-color;
        outline: transparent;
    }

    .policy__check:checked~.policy__agreement>& {
        opacity: 0;
        visibility: hidden;
    }
}

.policy__checkbox--filled {
    position: absolute;
    top: 5px;
    left: -24px;

    fill: $main-active-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    opacity: 0;
    visibility: hidden;

    transition: opacity 250ms $time-function,
        visibility 250ms $time-function;

    .policy__check:checked~.policy__agreement>& {
        visibility: visible;
        opacity: 1;
    }
}

.policy__link {
    color: $main-active-color;
    text-decoration-line: underline;

    &:hover,
    &:focus {
        text-decoration: none;
    }
}