.team {
    @extend %section;
    background-color: $secondary-bg-color;

    @media screen and (min-width: $desktop) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.team__container {
    @extend %container;

    @media screen and (min-width: $tablet) and (max-width: 1199px) {
        max-width: $tablet;
    }
}

.team__title {
    @extend %title;

    @media screen and (min-width: $desktop) {
        margin-bottom: 50px;
        font-size: 36px;
    }
}

.team__list {
    @extend %list;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    gap: 30px;
}

.team__member {
    padding-bottom: 24px;
    max-width: 450px;
    
    background-color: $main-bg-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    @media screen and (min-width: $tablet) {
        width: calc((100% - 30px) / 2);
    }

    @media screen and (min-width: $desktop) {
        width: calc((100% - 120px) / 4);
        padding-bottom: 30px;
    }
}

.team__photo {
    display: block;
    max-width: 100%;
    height: auto;
}

.team__card {
    padding-top: 30px;
    padding-bottom: 0;
}

.team__name {
    color: $text-heading-color;
    margin-top: 0;
    margin-bottom: 10px;
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.team__job {
    margin-top: 0;
    margin-bottom: 16px;
    
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}