$main-active-color: #2196F3;
$main-bg-color: #FFFFFF;
$secondary-bg-color: #F5F4FA;
$text-heading-color: #212121;
$main-text-color: #757575;
$dark-bg-text: #FFFFFF;
$dark-bg-contacts: rgba(255, 255, 255, .6);
$dark-bg-color: #2F303A;
$icon-color: #AFB1B8;
$time-function: cubic-bezier(0.4, 0, 0.2, 1);
$submit-button-hover: #188CE8;
$fontPrimary: 'Roboto', 'Arial', 'Helvetica', sans-serif;
$fontLogo: 'Raleway', sans-serif;